<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Add Feat Line Unlock Feat">
  </rz-heading>
  <rz-form #form0 (submit)="form0Submit($event)">
    <rz-lookup-form-field [data]="Feats" property="FeatID" [required]="true" requiredText="is required" textProperty="Name" title="Feat" valueProperty="ID" multipleItemsSelectedText="{0} items selected" emptyFilterText="No results found" type="lookup">
    </rz-lookup-form-field>
    <rz-integer-form-field maxText="cannot be more than" minText="cannot be less than" property="Level" [required]="false" requiredText="is required" title="Level" type="integer">
    </rz-integer-form-field>
  </rz-form>
</rz-content>
